<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>


	<connectionStrings>
		<add name="Tank"
		connectionString="Data Source=LAPTOP-L52UCLF5;Initial Catalog=Tank;Integrated Security=true"
		providerName="System.Data.SqlClient"/>
	</connectionStrings>
	
</configuration>